<%= turbo_frame_tag(dom_id(message)) do%>
  <div class="row">
    <h4><%= "#{message.body}"%></h4>
    <small class="text-sm text-muted ">   <%= "#{message.user.email.split('@')[0].capitalize}" %> - <%= time_ago_in_words(message.created_at) + ' ago'%> </small>
  </div>
<% end %>
