<div class="container mt-5">
  <div class="card p-4">
    <h1>New room</h1>
    <%= render "form", room: @room %>
    <br>
    <div>
      <%= link_to "Back to rooms", rooms_path %>
    </div>
  </div>
</div>
